version: 2.1

orbs:
  gh: circleci/github-cli@1.0
  sre: tracktor/ci-tools@0.11.2

references:
  production_context: &production_context
    - docker
    - github
  pypi_context: &pypi_context
    - pypi
    - github

  filters_not_tagged: &filters_not_tagged
    tags:
      ignore: /.*/

  filters_only_master: &filters_only_master
    tags:
      ignore: /.*/
    branches:
      only: /^master$/

  filters_only_tags: &filters_only_tags
    tags:
      only: /.*/
    branches:
      ignore: /.*/


executors:

  build-docker:
    docker:
      - image: cimg/base:current

  build-wheel:
    docker:
      - image: cimg/python:3.13-node

  tests:
    docker:
      - image: cimg/python:3.13-node
        environment:
          PYRIGHT_PYTHON_GLOBAL_NODE: true
      - image: cimg/postgres:17.0-postgis
        environment:
          POSTGRES_PASSWORD: postgres

jobs:

  # Testing

  run-tests:
    executor: tests
    steps:
      - checkout
      - run:
          name: Installing psql
          # Version should match the PG image
          command: |
            # Create the file repository configuration:
            sudo sh -c 'echo "deb http://apt.postgresql.org/pub/repos/apt $(lsb_release -cs)-pgdg main" > /etc/apt/sources.list.d/pgdg.list'
            # Import the repository signing key:
            wget --quiet -O - https://www.postgresql.org/media/keys/ACCC4CF8.asc | sudo apt-key add -
            sudo apt-get update && sudo apt-get install postgresql-client-17
      - sre/run-python-tests:
          extras: '--quiet --all-groups --all-extras'
          formatter: 'ruff'
          tool: 'uv'
          before-steps:
            - run:
                name: Initializing DB
                command: ./tests/static/init-pg.sh
                environment:
                  PGHOST: 127.0.0.1
                  PGUSER: postgres
                  PGPASSWORD: postgres
                  INIT_FILE: ./tests/init.sql
                  SQL_FOLDER: ./tests/static

  # Publish

  build-publish-docker:
    executor: build-docker
    parameters:
      pg_version:
        type: string
      include_network:
        type: boolean
        default: false
    steps:
      - setup_remote_docker:
          docker_layer_caching: true
      - checkout
      - attach_workspace:
          at: .
      - sre/build-docker:
          dockerfile: './docker/Dockerfile'
          image_name: 'tracktor/padmy'
          tag: <<# parameters.include_network >>${VERSION}-network-<< parameters.pg_version >><</ parameters.include_network >><<^ parameters.include_network >>${VERSION}-<< parameters.pg_version >><</ parameters.include_network >>
          latest_tag: <<# parameters.include_network >>latest-network-<< parameters.pg_version >><</ parameters.include_network >><<^ parameters.include_network >>latest-<< parameters.pg_version >><</ parameters.include_network >>
          publish: true
          registry_pwd: $CONTAINER_REGISTRY_PWD
          registry_user: $CONTAINER_REGISTRY_USER
          build_params: --build-arg PG_VERSION=<< parameters.pg_version >><<# parameters.include_network >> --build-arg UV_PARAMS="--group network"<</ parameters.include_network >>


  # Bump

  bump-version:
    executor: build-wheel
    steps:
      - gh/setup
      - checkout
      - restore_cache:
          keys:
            - deps-v0-{{ checksum "uv.lock" }}
      - sre/bump-version:
          lang: "python"
          branch: "master"
          tool: "uv"
      - store_artifacts:
          path: dist
      - save_cache:
          name: Saving wheel
          key: padmy-{{ checksum "pyproject.toml" }}
          paths:
            - dist/

  publish:
    executor: build-wheel
    steps:
      - checkout
      - restore_cache:
          name: Restore wheel
          keys:
            - padmy-{{ checksum "pyproject.toml" }}
      - run:
          name: Publishing
          command: uv publish -u __token__ -p $PYPI_TOKEN


workflows:

  run-tests:
    jobs:
      - run-tests:
          filters: *filters_not_tagged
      - bump-version:
          filters: *filters_only_master
          context: *production_context
          requires: [
            run-tests,
          ]

  publish:
    jobs:
      - publish:
          context: *pypi_context
          filters: *filters_only_tags
      # PostgreSQL 15
      - build-publish-docker:
          name: build-publish-docker-15
          pg_version: "15"
          context: *production_context
          filters: *filters_only_tags
      - build-publish-docker:
          name: build-publish-docker-network-15
          pg_version: "15"
          include_network: true
          context: *production_context
          filters: *filters_only_tags
      # PostgreSQL 16
      - build-publish-docker:
          name: build-publish-docker-16
          pg_version: "16"
          context: *production_context
          filters: *filters_only_tags
      - build-publish-docker:
          name: build-publish-docker-network-16
          pg_version: "16"
          include_network: true
          context: *production_context
          filters: *filters_only_tags
      # PostgreSQL 17
      - build-publish-docker:
          name: build-publish-docker-17
          pg_version: "17"
          context: *production_context
          filters: *filters_only_tags
      - build-publish-docker:
          name: build-publish-docker-network-17
          pg_version: "17"
          include_network: true
          context: *production_context
          filters: *filters_only_tags
